auto-install-peers = true
public-hoist-pattern[]=*storybook*
dedupe-peer-dependents=false
prefer-workspace-packages=true
#node-linker=hoisted
enable-pre-post-scripts=true
package-manager-strict=false
